::v-deep .ui-datepicker__display {
  height: 2.9rem;
}

.primary-button{
  background: linear-gradient($primary, $secondary 100%);
  border-radius: 6px;
}

.navbar-button{
  background: linear-gradient($primary-light);
  border-radius: 6px;
}

::v-deep .ui-button.ui-button--type-secondary{
  background: linear-gradient(45deg,$body-cold, $body-warm);
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}


::v-deep .ui-textbox {
  border: none;
}

body{
  background: linear-gradient($body-warm, $body-cold);
}
