::v-deep .ui-datepicker__display {
  height: 2.9rem;
}

.primary-button{
  position: relative;
  background: radial-gradient($primary, $secondary) !important;
  border-radius: $standard-border-radius;
  -webkit-box-shadow: 1px 3px 0 1px $primary-dark;
  -moz-box-shadow: 1px 3px 0 1px $primary-dark;
  box-shadow: 1px 3px 0 1px $primary-dark;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.primary-button:hover{
  box-shadow: none;
}

.primary-button::after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  -webkit-box-shadow: inset 0 0 4px 1px $primary-dark;
  -moz-box-shadow: inset 0 0 4px 1px $primary-dark;
    box-shadow: inset 0 0 4px 1px $primary-dark;
  opacity: 0;
  transition: opacity 0.3s;
}

.primary-button:hover::after{
  opacity: 1;

}

.disabled-btn{
  background: radial-gradient($primary, $secondary) !important;
  color: $dark !important;
}

::v-deep .ui-button.ui-button--type-secondary{
  background: transparent;
  border: 2px solid transparent;
  
}

::v-deep .ui-button.ui-button--type-secondary:hover{
  background-color: transparent !important;
  border-radius: $standard-border-radius;
  border: 2px solid $dark;
  
}

::v-deep .ui-modal__mask{
  height: 100vh;
}


::v-deep .ui-textbox {
  border: none;
}

body{
  background: $body;
}

::v-deep .ui-textbox.is-active:not(.is-disabled) .ui-textbox__input{
  border-bottom-color: $forest-secondary!important;
  border-bottom-width: 4px;
  border-radius: $standard-border-radius;
}

::v-deep .ui-textbox__label-text{
  margin-left: 1rem;
  color: $forest-secondary !important;
}

::v-deep .ui-textbox__input{
  width: initial;
  border-bottom-width: 0;
  padding-left: 1rem;
}
::v-deep .ui-textbox.is-active:not(.is-disabled) .ui-textbox__label-text {
  color: $forest-primary !important;
  margin-left: 1rem;
  margin-top: 0.25rem;
}
