$primary: #00b05d;
$primary-light: #50aa8d;
$primary-dark: #0f572b;

$secondary: #00b05d;
$warning: #b01700;

$body-warm: #2F5E4E;
$body-cold: #50aa8d;
$body: #f8fae2;

$body-modal: #008d3e;

$shade-primary: #D8FF99;
$shade-primary-accent: #b1e65c;
$shade-secondary: #F4FF99;
$shade-secondary-accent: #d8e65c;

$dark: #020024;

$brand-primary-color: #673ab7;
$brand-accent-color: #ff4081;


$forest-primary: #50aa8d;
$forest-secondary: #2F5E4E;

$standard-border-radius: 6px;
$header-gradient: linear-gradient(to right bottom, #27ae60, #29b564, #2abd68, #2cc46d, #2ecc71);
//#F4FF99 #EFFF99

::v-deep .ui-datepicker__display {
  height: 2.1rem;
}

$mobile-viewport: 37.5rem;
$medium-viewport: 62rem;
$desktop-viewport: 75rem;

// @custom-media --small-viewport (min-width: 37.5rem); /* 600px */
// @custom-media --medium-viewport (min-width: 56.25rem); /* 900px */
// @custom-media --large-viewport (min-width: 62rem); /* 992px */
// @custom-media --huge-viewport (min-width: 70rem); /* 1120px */
// @custom-media --enormous-viewport (min-width: 75rem); /* 1200px */
// @custom-media --ludicrous-viewport (min-width: 88rem); /* 1408px */