$primary: #66a842;
$secondary: #00b05d;

$body-cold: #f6edd9;
$body-warm: #f6fbf2;

$shade-primary: #e9c563;
$shade-secondary: #ffd38a;

$dark: #001d00;

$brand-primary-color: #673ab7;
$brand-accent-color: #ff4081;

::v-deep .ui-datepicker__display {
  height: 2.1rem;
}